# SPDX-FileCopyrightText: 2021-2024 Helmholtz-Zentrum hereon GmbH
#
# SPDX-License-Identifier: CC0-1.0

include README.rst
include COPYING
include COPYING.LESSER
include psyplot/plugin-template-files/*
include psyplot/plugin-template-files/plugin_template/*
include versioneer.py
include psyplot/_version.py
