include README.rst
include COPYING
include COPYING.LESSER
include psyplot/plugin-template-files/*
include psyplot/plugin-template-files/plugin_template/*
include versioneer.py
include psyplot/_version.py
