# Matplotlib
#   https://github.com/matplotlib/matplotlib/blob/master/CHANGELOG
matplotlib==3.0.2  # rq.filter: >=1.4

# xarray
#   https://github.com/pydata/xarray/blob/stable/doc/whats-new.rst
xarray==0.11.0  # rq.filter: >=0.7.0

# pandas
#   http://pandas.pydata.org/pandas-docs/stable/whatsnew.html
pandas==0.23.4 # rq.filter: >= 0.18.0
