# SPDX-FileCopyrightText: 2021-2024 Helmholtz-Zentrum hereon GmbH
#
# SPDX-License-Identifier: CC0-1.0

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psyplot = {extras = ["testsite"], file = "../../..", editable=true}
matplotlib = "3.8.*"
xarray = "2023.1.0"
numpy = "<2.0.0"

[dev-packages]

[pipenv]
allow_prereleases = true

[requires]
python_version = "3.11"
