# SPDX-FileCopyrightText: 2021-2024 Helmholtz-Zentrum hereon GmbH
#
# SPDX-License-Identifier: CC0-1.0

git+https://codebase.helmholtz.cloud/hcdc/hereon-netcdf/sphinxext.git
git+https://codebase.helmholtz.cloud/psyplot/psy-simple.git@develop
git+https://codebase.helmholtz.cloud/psyplot/psy-maps.git@develop
